* {
    font-family: 'Kanit', sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background-color:white;
  }
  ul.nave {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: coral;
    box-shadow: 0 0 30px coral;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: tomato;
    color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:tomato;
    color: whitesmoke;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.wallhead{
    background-image: url(../images/wall_main.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;
}

.wallhead1{
  background-image: url(../images/contact.jpeg);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
}

.wallhead2{
  background-image: url(../images/switch.png);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
}

.wallhead3{
  background-image: url(../images/router.png);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
}

.wallhead4{
  background-image: url(../images/wireless.png);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
}

 .container-left {
    width: 1200px;
    margin: 0 auto;
  }
.head_area {
    padding-top: 150px;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
    width:  660px;
    float: left;
}
.head_area:hover {
    opacity: 0.8;
}
.head_area h1{
    font-size: 45px;
    text-transform: uppercase;
}
.analysist {
  margin: 0;
  background-image: url("../images/analy.webp"); background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.text1 {
  font-size: 50px;
  padding: 40px;
}
.text1:hover {
  font-size: 50px;
  padding: 40px;
  opacity: 0.7;
  transition: all 0.4 ease;
}

.service {
  margin-left: 40px;
  margin-top: 50px;
  width: 20%;
  height: 40%;
  float: left;
  text-align: center;
}
.servicestyle2 {
  margin-left: 10px;
  margin-top: 250px;
  width: 50%;
  height: auto;
  text-align: left;
}

.style1 {
  font-size: 20px;
}

.analysist h1:hover {
  opacity: 0.7;
} 